/* Coolors Exported Palette - coolors.co/86c459-6d6e70-004874-ffffff-89aebe */
/* RGB */
$color1: rgba(134, 196, 89, 1) !default;   /* green - dollar-bill */
$color2: rgba(109, 110, 112, 1) !default;  /* gray - nickel */
$color3: rgba(0, 72, 116, 1) !default;     /* blue - dark-imperial-blue */
// $color4: rgba(186, 20, 50, 1);    /* red - crimson-glory */
$color4: rgba(75, 59, 64, 1) !default;     /* brown - dark-puce */
$color5: rgba(137, 174, 190, 1) !default;  /* light blue - pewter-blue */
