.app-card {
  height: 200px !important;
  /* background-color: rgba(137, 174, 190, 1) !important; */
  background-color: #86c459 !important;
  color: white;
}
.app-card:hover {
  cursor: pointer;
}
.app-card.disabled {
  background-color: #6D6E70 !important;
  cursor: not-allowed;
  color: #89AEBE;
}
