REDMINE_API_URL=http://[server]:[port]/redmine/
KV3_URL=http://[server]:[port]/v1/metadata/
KV3_URL_QUERY_PARAMS=?include-pyramid=true&include-descriptions=true
KV3_API_KEY=
CUSTOM_FIELD_SUBCONTRACTORS=pipe|separated|list|of|entries
